.hero-about {
    background: url('./assets/images/banner.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.abt-text {
    position: absolute;
    top: 42%;
    right: 28%;
    color: white;
}

.hero-logo {
    top: 2% !important;
    right: 6% !important;
}

@media (max-width: 1920px) {
    .hero-logo {
        top: -1% !important;
        right: 1% !important;
    }
}

@media (max-width: 1570px) {
    .hero-logo {
        top: -3% !important;
        right: 0% !important;
    }
}

@media (max-width: 1416px) {
    .hero-logo {
        top: -2% !important;
        right: -3% !important;
    }
}

@media (max-width: 1190px) {
    .hero-logo {
        top: 0% !important;
        right: -3% !important;
    }
}

@media (max-width: 1024px) {
    .hero-logo {
        top: -2% !important;
        right: -8% !important;
    }

}

@media (max-width: 890px) {
    .hero-logo {
        top: -4% !important;
        right: -10% !important;
    }
}

@media (max-width: 768px) {
    .hero-logo {
        top: -4% !important;
        right: -14% !important;
    }
}

@media (max-width: 668px) {
    .hero-logo {
        top: -4% !important;
        right: -20% !important;
    }
}

@media (max-width: 568px) {
    .hero-logo {
        top: -4% !important;
        right: -25% !important;
    }
}

@media (max-width: 500px) {
    .hero-logo {
        top: -6% !important;
        right: -29% !important;
    }
}

@media (max-width: 472px) {
    .hero-logo {
        top: -6% !important;
        right: -33% !important;
    }
}

@media (max-width: 415px) {
    .hero-logo {
        top: -6% !important;
        right: -39% !important;
    }
}

@media (max-width: 370px) {
    .hero-logo {
        top: -6% !important;
        right: -44% !important;
    }
}

@media (max-width: 345px) {
    .hero-logo {
        top: -6% !important;
        right: -50% !important;
    }
}

.abt-heading {
    font-size: 48px;
}

.abt-heading .highlight {
    font-size: 130px !important;
    color: white !important;
}

.hero-image-wrapper,
.hero-image {
    border-radius: 32px !important;
}

@media (max-width: 1600px) {
    .abt-heading .highlight {
        font-size: 104px !important;
    }

    .abt-text {
        top: 39% !important;
        right: 28% !important;
    }
}

@media (max-width: 1350px) {
    .abt-heading .highlight {
        font-size: 97px !important;
    }

    .abt-text {
        top: 34% !important;
        right: 28% !important;
    }
}

@media (max-width: 1064px) {
    .abt-heading .highlight {
        font-size: 82px !important;
    }

    .abt-text {
        top: 30% !important;
        right: 28% !important;
    }

    .abt-heading {
        font-size: 38px;
    }
}

@media (max-width: 900px) {
    .abt-heading .highlight {
        font-size: 55px !important;
    }

    .abt-text {
        top: 30% !important;
        right: 28% !important;
    }

    .abt-heading {
        font-size: 33px;
    }
}

@media (max-width: 768px) {
    .abt-heading .highlight {
        font-size: 40px !important;
    }

    .abt-text {
        top: 39% !important;
        right: 33% !important;
    }

    .abt-heading {
        font-size: 25px;
    }

    .hero-nav-list {
        font-size: 13px !important;
    }
}

@media (max-width: 568px) {
    .abt-heading .highlight {
        font-size: 29px !important;
    }

    .abt-heading {
        font-size: 17px;
    }
}

@media (max-width: 425px) {
    .abt-heading .highlight {
        font-size: 23px !important;
    }

    .abt-text {
        top: 39% !important;
        right: 33% !important;
    }

    .abt-heading {
        font-size: 13px;
    }

    .hero-nav-list {
        font-size: 10px !important;
    }
}

/* abt-container */
.abtsection2 {
    padding: 100px 20px;
}

.abt-container h6 {
    font-size: 16px;
    font-weight: 600;
    color: #FF0004;
}

.abt-container h4 {
    font-size: 48px;
    font-weight: 600;
    color: #10111A;
}

.abt-container p {
    font-size: 18px;
    font-weight: 500;
    color: #97918B;
    margin-top: 15px;
}

.abt-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
}

.btn-explore {
    background: #FF0004;
    /* Red */
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    padding: 14px 34px;
    border: none;
    cursor: pointer;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 83% 100%, 0% 100%);
    border-radius: 9px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin-top: 40px;
}

.btn-explore:hover {
    background: #cc0000;
    transform: translateY(-2px);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1024px) {
    .abt-container {
        flex-direction: column;
    }

    .context {
        width: 100% !important;
    }
}

.context {
    width: 29%;
}

.printer-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.printer-images {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    overflow: hidden;
}

/* section3 */
.purpose-vision {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 90px 20px;
    background-color: #FAFCFD;
}

.card {
    background: #fff;
    flex: 1 1 45%;
    border-radius: 34px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    padding: 48px;
    position: relative;
    border: 1px solid #E4E4E4;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card.green {
    border-left: 6px solid #2e7d32;
    /* green */
}

.card.blue {
    border-left: 6px solid #0d47a1;
    /* blue */
}

.card-header {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 15px;
}


.card-header h3 {
    font-size: 48px;
    font-weight: 500;
    color: #36265C;
    margin: 0;
}

.card p {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #97918B;
    margin: 0;
}

@media (max-width: 1024px) {
    .purpose-vision {
        flex-direction: column;
    }

    .card-header h3 {
        font-size: 38px !important;
    }

    .card {
        flex: 1 1 100%;
    }

    .values-section h2 {
        font-size: 33px !important;
    }

    .value-card {
        margin: 24px !important;
        height: 378px !important;
    }
}

@media (max-width: 768px) {
    .card-header h3 {
        font-size: 21px !important;
    }

    .card {
        padding: 20px;
    }

    .card p {
        font-size: 15px !important;
    }

    .values-section h2 {
        font-size: 27px !important;
    }

    .dot {
        width: 17px !important;
        height: 17px !important;
    }

    .values-container {
        padding: 20px !important;
    }
}

@media (max-width: 768px) {
    .value-card {
        height: 313px !important;
    }

    .value-card h3 {
        font-size: 14px !important;
    }
}

/* section4 */
.values-section {
    text-align: center;
    padding: 90px 20px;
    position: relative;
    margin: 0 auto;
}

.values-section h2 {
    font-size: 48px;
    font-weight: 700;
    color: #36265C;
    /* line-height: 60px; */
    margin-bottom: 15px;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}

.dot {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: inline-block;
}

.dot.grey {
    background: #818283;
}

.dot.purple {
    background: #6343AE;
}

.dot.red {
    background: #D82328;
}

.values-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    flex-wrap: nowrap;
    position: relative;
}

.value-card {
    width: 100%;
    height: 378px;
    margin: -27px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    z-index: 2;
    box-shadow:
        0px 4px 12.3px rgba(0, 0, 0, 0.5),
        6px 6px 0px #714CC9;
    margin: -27px;
}


.value-card .icon {
    font-size: 26px;
    margin-bottom: 10px;
}

.value-card h3 {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
}

.value-card p {
    font-size: 10px;
    color: #333333;
    line-height: 1.5;
    text-align: center;
}

/* Curve images */
.curve {
    width: 100%;
    z-index: 1;
}

.curve-down {
    margin-top: 300px;
    /* push curve lower to connect */
}

.curve-up {
    margin-bottom: 100px;
    /* push curve higher to connect */
}

/* Responsive */
@media (max-width: 1000px) {
    .values-container {
        flex-direction: column;
    }

    .curve {
        display: none;
        /* hide curves on mobile */
    }
}

@media (max-width: 425px) {
    .hero-section {
        padding: 10px !important;
    }
}


/* ======================================contact us page ======================================================= */
.contact-section {
    padding: 50px 20px;
    text-align: center;
}

.contact-title {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 5px;
}

.contact-subtitle {
    color: #717171;
    font-size: 25px;
    margin-bottom: 40px;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    background: #fff;
    border-radius: 11px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
}

/* LEFT CARD */
.contact-info {
    text-align: left;
    flex: 1;
    background: #36265C;
    color: #fff;
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 11px;
}

.contact-info h3 {
    font-size: 33px;
    margin-bottom: 10px;
}

.contact-info p {
    margin-bottom: 31px;
    font-size: 14px;
    color: #C9C9C9;
    font-weight: 400;
}

.info-list {
    list-style: none;
    padding: 0;
    margin: 0 0 60px;
}

.info-list li {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.info-list li img {
    width: 28px;
    height: 28px;
}

.social-icons a {
    margin-right: 10px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.social-icons {
    z-index: 99999;
    position: relative;
}

.bg-circles {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 180px;
    /* adjust size to match figma */
    height: 180px;
    overflow: visible;
}

.circle {
    border-radius: 50%;
    position: absolute;
}

.circle.purple {
    background: #FFFFFF80;
    left: -39px;
    bottom: 40px;
    width: 164px;
    height: 164px;
    z-index: 2;
}

.circle.red {
    background: #D82328;
    right: -120px;
    bottom: -153px;
    width: 320px;
    height: 320px;
}


/* FORM */
@media (max-width: 1200px) {
    .form-row {
        flex-direction: column !important;
    }

    .contact-info {
        flex: 2;
    }

    .contact-section {
        padding: 50px 0 !important;
    }
}

@media (max-width: 1024px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-subtitle {
        font-size: 20px;
    }

    .contact-title {
        font-size: 41px;
    }
}

@media (max-width: 425px) {
    .contact-info h3 {
        font-size: 27px;
    }

    .info-list li {
        margin-bottom: 19px;
        font-size: 14px;
    }

    .btn-send {
        font-size: 14px;
    }

    .contact-title {
        font-size: 31px;
    }

    .contact-subtitle {
        font-size: 15px;
    }

    .contact-info h3 {
        font-size: 25px;
    }
}

.contact-form {
    flex: 2;
    padding: 30px;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
    text-align: left;
    margin-bottom: 10px;
}

.form-group label {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: 500;
    gap: 10px;
    color: #313131;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1.19px solid #8D8D8D;

    font-size: 14px;
    outline: none;
}

.form-group.subject {
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.form-group.subject label {
    margin-bottom: 20px;
}

.form-group.message {
    color: #8D8D8D;
}

textarea {
    min-height: 80px;
    resize: none;
}

/* Hide native radio */
.radio-group input[type="radio"] {
    display: none;
}

/* Position span text and circle */
.radio-group label {
    position: relative;
    padding-left: 28px;
    /* space for custom circle */
    cursor: pointer;
}

/* Circle outline */
.radio-group span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #E0E0E0;
    transition: all 0.2s ease;
}

/* Checked state with tick */
.radio-group input[type="radio"]:checked+span::before {
    background: url("./assets/icons/tick.png") center center no-repeat;
    background-size: 12px 12px;
}



.radio-group {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.radio-group input {
    width: 16px;
    height: 16px;
}

.btn-send {
    background: #D82328;
    color: #fff;
    padding: 12px 28px;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.btn-send:hover {
    background: #c62828;
    transform: translateY(-2px);
}

.msg-btn {
    display: flex;
    justify-content: flex-end;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .form-row {
        flex-direction: column;
    }
}

.letter_send {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.letter_send img {
    height: 112px;
}


.find-us-section {
    padding: 60px 20px;
}

.find-us-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 144px 60px;
    flex-wrap: wrap;
}

/* LEFT CARD */
.find-card {
    position: relative;
    border-radius: 54px;
    width: 627px;
    height: 583px;
    overflow: visible;
}

.red-bg {
    background: #D82328;
    border-radius: 54px;
    border: 1px solid #715656;
    width: 100%;
    /* padding: 29px; */
    height: 100%;
    transform: rotateX(8deg)
        /* tilt forward/back */
        rotateY(352deg)
        /* tilt sideways */
        rotateZ(346deg)
        /* flat rotation */
        translateZ(-40px)
        /* push backward in depth */
        translateX(-10px)
        /* move left */
        translateY(10px);
    position: absolute;
    top: -81px;
    transform-style: preserve-3d;
    left: -106px;
    z-index: 0;
}

.white-card {
    background: #F5F5F5;
    border-radius: 54px;
    padding: 20px;
    width: 100%;
    border: 1px solid #DFDFDF;
    height: 100%;
    position: relative;
    z-index: 1;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.white-card h2 {
    font-size: 47px;
    font-weight: 900;
    color: #36265C;
    margin-bottom: 15px;
}

.white-card img {
    width: 69%;
    margin-top: auto;
    border-radius: 0 0 15px 15px;
}

/* MAP CARD */
.map-card {
    width: 350px;
    height: 230px;
    border-radius: 15px;
    overflow: hidden;
}
@media (max-width: 1545px) {
.find-us-container {
        padding: 144px 0 !important;
}
.find-card {
    width: 520px;
}
}

@media (max-width: 1280px) {
.find-us-container{
    flex-direction: column;
}
.find-card {
    width: 451px;
        height: 517px;
}
.find-us-section {
    padding: 60px 0;
}
}
@media (max-width: 768px) 
{
    .find-card {
        width: 302px;
        height: 391px;
    }
}